{% extends 'base_new.html.twig' %}

{% block body %}
    {{ parent() }}
    
    
    
    <div id="templatemo_blog" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section_header">
                    <h1>Новини</h1>
                </div>
                <div class="clearfix"></div>
                
                {% for item in news %}

                <div class="col-sm-4 event_animate_left">
                    <img src="{% path item.image, 'medium' %}"  class="img-responsive" />
                </div>
                <div class="col-sm-8 blog_text event_animate_right">
                    <a href="{{ path('news_show', {'slug':item.getSlug}) }}">
                        <h1>{{ item.getTitle}}</h1>
                    </a>
                    <p>
                        {#<span class="glyphicon glyphicon-user"></span> posted by <a href="#">Kelly</a>  &nbsp;&nbsp;#}
                        {#<span class="glyphicon glyphicon-calendar"></span> 5<sup>th</sup> September 2084 &nbsp;&nbsp;#}
                        {#<span class="glyphicon glyphicon-bookmark"></span> <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">Responsive</a>#}
                    </p>
                    <div>
                        {{ item.getDescription |raw }}
                    </div>
                </div>
                </a>
                   <div class="clearfix"></div> 
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
