{% extends "backend/base.html.twig" %}

{% block body_container %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Категории
        </h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-9">Име</th>
                        <th class="com-md-2 text-right"><a href="{{ path('admin_category_new') }}" class="btn btn-success">Добави</a> Настройки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %} 
                        <tr>
                            <td style="font-weight: bold">{{ category.translate(locale).getName }}</td>
                            <td class="text-right">
                                <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-sm btn-warning">Редактирай</a>
                                <a href="{{ path('admin_category_delete', {'id': category.id}) }}" class="btn btn-sm btn-danger">Изтрий</a>
                            </td>
                        </tr>
                        {% if category.children | length %}
                            {% for child in category.children %}
                                <tr>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.translate(locale).getName }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('admin_category_edit', {'id': child.id}) }}" class="btn btn-sm btn-warning">Редактирай</a>
                                        <a href="{{ path('admin_category_delete', {'id': child.id}) }}" class="btn btn-sm btn-danger">Изтрий</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}





