{% extends "backend/base.html.twig" %}
{% form_theme form with ['bootstrap_3_layout.html.twig', 'backend/form/media_widgets.html.twig']   %}
{#{% form_theme form  %}#}
{% block body_container %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Категории
        </h1>
        <div class="table-responsive">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

            {#{{ dump(form.translations) }}#}
            {#            {{ form_row(form) }}#}
            {#            {{ form_row(form.parent) }}#}

            {% import "A2lixTranslationFormBundle::macros.html.twig" as a2lixTranslations %}
            {{ a2lixTranslations.partialTranslations(form.translations, ['name']) }}
            {{ form_row(form.parent) }}
            {{ a2lixTranslations.partialTranslations(form.translations, ['description']) }}

            {#            {{ a2lixTranslations.partialTranslations(form.translations, ['url']) }}#}
            {#            {{ form_widget(form) }}#}
            <div class="span3" style="margin-top: 20px">
                {#{{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image) }}#}
                {{ form_row(form.image) }}
            </div>
            
            <div class="span3 form-group" style="margin-top: 20px">
                {{ form_row(form.save) }}
            </div>




            {# don't render unrendered fields #}
            {{ form_end(form) }}

        </div>
    </div>



{% endblock %}




