<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="author" content="templatemo">

        {% block stylesheets %}
            {% stylesheets 
                'bundles/app/css/style.css'
                'bundles/app/backend/css/bootstrap.min.css'
                'bundles/app/backend/css/unslider.css'
                'bundles/app/plugins/flexslider/flexslider.css'

                filter='cssrewrite' %}


            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}

        <!-- Favicon-->
        <link rel="shortcut icon" href="./favicon.png" />		
        <!-- Bootstrap -->
        {#<link href="css/bootstrap.min.css" rel="stylesheet">#}
        <!-- Template  -->
        {#<link href="css/templatemo_style.css" rel="stylesheet">#}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>


        <div id="templatemo_banner_top" class="container_wapper">
            <div class="container">
                <div class="row">
                    <a href="{{ path("homepage", {"_locale": "bg"}) }}">Български</a>
                    <a href="{{ path("homepage", {"_locale": "en"}) }}">English</a>
                    <a href="{{ path("homepage", {"_locale": "ru"}) }}">Руски</a>
                    <a href="{{ path("homepage", {"_locale": "de"}) }}">Deutch</a>
                </div>
            </div>
        </div>
        {#    <div id="templatemo_banner_logo" class="container_wapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-4">
                            <img src="images/templatemo_logo.png" alt="logo" />
                            <h1><a href="#">Reactive</a></h1><br /><br /><br />
                            <span>Free HTML5 Template</span>
                        </div>
                    </div>
                </div>
            </div>#}


        {{ widget('slider') }}  

        {{ widget('navbar', ['chavdar', 'dimitrov']) }}

        {% block body %}

        {% endblock %}
        <div id="templatemo_footer" class="container_wapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright © 2016 Company Name <!-- Credit: www.templatemo.com --></p>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts 
                '@AppBundle/Resources/public/backend/plugins/jQuery/jQuery-2.1.4.min.js'
                '@AppBundle/Resources/public/backend/js/bootstrap.min.js'
                '@AppBundle/Resources/public/backend/js/jquery.easing.1.3.js'
                '@AppBundle/Resources/public/backend/js/jquery.mobile.customized.min.js'
                '@AppBundle/Resources/public/backend/js/unslider.min.js'
                '@AppBundle/Resources/public/backend/js/jquery.singlePageNav.min.js'
                '@AppBundle/Resources/public/backend/js/templatemo_script.js'
                
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
        {% endblock %}
    </body>
</html>