<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                'bundles/app/css/style.css'
                'bundles/app/plugins/flexslider/flexslider.css'

                filter='cssrewrite' %}


            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>
        {% block body %}


            <div id="container">

                {#                <div id="processing">Зареждам...</div>#}



                <div id="header_container_home">

                    <div id="header">
                        <div class="row-fluid">
                            <div class="span12">
                                {# <div class="span2 header_logo_span">
                                     <a id="header_logo" href="http://hraninvest.bg/" title=""></a>
                                 </div>
                                 <div class="span2" id="lang_bar">
                                     <a id="header_logo_sm" href="http://hraninvest.bg/" title=""></a>
 
                                     <a class="focus" href="http://hraninvest.bg/" title="Български">bg</a>
 
                                     <a href="http://hraninvest.bg/en" title="English">en</a>
 
                                 </div>
                                 <div class="span8" id="main_nav"><div id="menu-button">Меню</div>
                                     <ul>
                                         <li class=""><a href="http://hraninvest.bg/bg">Начало</a></li>
                                         <li class="menu_limiter"></li>
                                         <li class="">
                                             <a href="http://hraninvest.bg/%D0%BC%D0%B0%D0%BD%D0%B4%D1%80%D0%B0-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE-1.html">Мандра Киселово</a></li>
                                         <li class="menu_limiter"></li><li class="has-sub"><span class="submenu-button"></span><a href="http://hraninvest.bg/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81-1.html">За нас</a><ul><li><a href="http://hraninvest.bg/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81/%D1%85%D1%80%D0%B0%D0%BD%D0%B8%D0%BD%D0%B2%D0%B5%D1%81%D1%82-%D0%B5%D0%BE%D0%BE%D0%B4-1.html">Хранинвест ЕООД</a></li><li><a href="http://hraninvest.bg/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81/%D0%B7%D0%B0-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BD%D0%B8%D1%8F-%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D1%81-1.html">За работния процес</a></li><li><a href="http://hraninvest.bg/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81/%D0%BD%D0%B0%D1%88%D0%B0%D1%82%D0%B0-%D1%86%D0%B5%D0%BB-1.html">Нашата цел</a></li></ul></li><li class="menu_limiter"></li><li class="has-sub"><span class="submenu-button"></span><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8">Продукти</a><ul><li class="has-sub"><span class="submenu-button"></span><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD">Краве масло и маргарин</a><ul><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-125-%D0%B3%D1%80">Краве масло 125 гр.</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-250-%D0%B3%D1%80">Краве масло 250 гр. </a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-500-%D0%B3%D1%80">Краве масло 500 гр.</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD/%D0%BA%D0%B5%D1%82%D1%8A%D1%80%D0%B8%D0%BD%D0%B3">Кетъринг</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD/%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD%D0%B8">Маргарини</a></li></ul></li><li class="has-sub"><span class="submenu-button"></span><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5">Краве сирене</a><ul><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5/%D0%B2%D0%B0%D0%BA%D1%83%D1%83%D0%BC">Вакуум</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5/pvc-%D0%BA%D1%83%D1%82%D0%B8%D1%8F-0400%D0%BA%D0%B3-0800%D0%BA%D0%B3">PVC Кутия - 0.400кг / 0.800кг</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5/pvc-%D0%BA%D0%BE%D1%84%D0%B0-4%D0%BA%D0%B3-8%D0%BA%D0%B3"> PVC Кофа - 4кг / 8кг</a></li></ul></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B5%D0%BC%D0%B0-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5">Крема сирене</a></li><li class="has-sub"><span class="submenu-button"></span><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D1%82%D0%BE%D0%BF%D0%B5%D0%BD%D0%B8-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B0">Топени сирена</a><ul><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D1%82%D0%BE%D0%BF%D0%B5%D0%BD%D0%B8-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B0/pvc-%D0%BA%D1%83%D1%82%D0%B8%D1%8F-170-%D0%B3%D1%80">PVC Кутия - 170 гр.</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D1%82%D0%BE%D0%BF%D0%B5%D0%BD%D0%B8-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B0/%D1%84%D0%B8%D0%B1%D1%80%D0%BE%D1%81-180-%D0%B3%D1%80">Фиброс - 180 гр.</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D1%82%D0%BE%D0%BF%D0%B5%D0%BD%D0%B8-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B0/pvc-%D0%BA%D1%83%D1%82%D0%B8%D1%8F-1%D0%BA%D0%B3">PVC Кутия - 1кг</a></li></ul></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D0%B0%D1%88%D0%BA%D0%B0%D0%B2%D0%B0%D0%BB">Кашкавал</a></li><li><a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BF%D1%80%D1%8F%D1%81%D0%BD%D0%BE-%D0%B8-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE-%D0%BC%D0%BB%D1%8F%D0%BA%D0%BE">Прясно и кисело мляко</a></li></ul></li><li class="menu_limiter"></li><li class=""><a href="http://hraninvest.bg/%D0%BF%D0%B0%D1%80%D1%82%D0%BD%D1%8C%D0%BE%D1%80%D0%B8-1.html">Партньори</a></li><li class="menu_limiter"></li><li class=""><a href="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE">Новини</a></li><li class="menu_limiter"></li><li class=""><a href="http://hraninvest.bg/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D0%B8-1.html">Контакти</a></li>
                                     </ul>							
                                 </div>#}


                                <div class="span2" id="lang_bar">
                                    <a id="header_logo_sm" href="http://hraninvest.bg/" title=""></a>

                                    <a class="focus" href="http://hraninvest.bg/" title="Български">bg</a>

                                    <a href="http://hraninvest.bg/en" title="English">en</a>

                                </div>
                                {{ widget('navbar', ['chavdar', 'dimitrov']) }}

                            </div>

                        </div>


                    </div> <!-- header -->




                </div> <!-- header_container -->


                {#                <div id="flexslider" class="flexslider">
                                    <ul class="slides">
                                        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                            <img draggable="false" src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/p_f29f526a69dca95ca62237b35466a3be_31f80313d179d10803bc3a13e.jpg" alt="МАНДРА ГЕНЕРАЛ КИСЕЛОВО">
                                        </li>
                                        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                            <img draggable="false" src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/p_d0689f5ddfd168a5366d1e934d000528_09fa68ff59a563fd6ad254c86.jpg" alt="МАНДРА ГЕНЕРАЛ КИСЕЛОВО">
                                        </li>
                                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                                            <img draggable="false" src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/p_11a9ddf04be84a2edf348d9bf9d4ca01_02fec630b00b94ab06fe93dfc.jpg" alt="МАНДРА ГЕНЕРАЛ КИСЕЛОВО">
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                            <img draggable="false" src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/p_2f3537328d138ef126aab24106b6350c_99d1d8f18acf248437f7ad53f.jpg" alt="МАНДРА ГЕНЕРАЛ КИСЕЛОВО">
                                        </li>
                                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                            <img draggable="false" src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/p_8596396146af5f6ff606c7cb3399bf11_b81e831420e0d913aa15bbec4.jpg" alt="МАНДРА ГЕНЕРАЛ КИСЕЛОВО">
                                        </li>
                                    </ul>
                                    <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul>
                                </div>
                
                
                                <script>
                                    $(function () {
                
                
                                        $('#flexslider').flexslider({
                                            animation: "fade",
                                            prevText: '',
                                            nextText: '',
                                            controlNav: false,
                                            animationLoop: true,
                                            slideshow: true
                                        });
                                    });
                                </script>#}

                {{ widget('slider') }}
                <div class="home_container">
                    <div class="normal_content">
                        <div class="row-fluid">
                            <div class="spacer"></div>
                            <div class="span12 top_categories ">
                                <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD" class="category_link span4">
                                    <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/c_6c5c25090c043e51ba121bd7b5ffe942_b912bcf755498e75b0f48b562.jpg">
                                    <div class="category_title">Краве масло и маргарин</div>
                                </a>
                                <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5" class="category_link span4">
                                    <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/c_eeaae6ed9a5afa2edea3f59ad72cb790_43debb6fc886cd1269a6fb54e.jpg">
                                    <div class="category_title">Краве сирене</div>
                                </a>
                                <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B5%D0%BC%D0%B0-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5" class="category_link span4">
                                    <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/c_e69da819665cf7346f1386c39e382999_b9f94871ac4476328c709cd7e.jpg">
                                    <div class="category_title">Крема сирене</div>
                                </a>
                                <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D1%82%D0%BE%D0%BF%D0%B5%D0%BD%D0%B8-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B0" class="category_link span4">
                                    <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/c_740e674dc1de110122a0656077d72e5e_f1585ba7c67b2f2410cd3ca5f.jpg">
                                    <div class="category_title">Топени сирена</div>
                                </a>
                                <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D0%B0%D1%88%D0%BA%D0%B0%D0%B2%D0%B0%D0%BB" class="category_link span4">
                                    <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/c_6a586f4275466a25ab89f20cf266dc72_8907fba9d8ccd3becbabcca3d.jpg">
                                    <div class="category_title">Кашкавал</div>
                                </a>
                                <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BF%D1%80%D1%8F%D1%81%D0%BD%D0%BE-%D0%B8-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE-%D0%BC%D0%BB%D1%8F%D0%BA%D0%BE" class="category_link span4">
                                    <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/c_481318404f05c4c1296c0d5b873de600_6f64ee5ae0c9fa33e0a43281b.jpg">
                                    <div class="category_title">Прясно и кисело мляко</div>
                                </a>
                                <div class="spacer30"></div>
                                <img alt="" src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/1saassasa.jpg" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                        <div class="item_limiter"></div>

                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span2 home_text">
                                    <div style="text-align: justify;"><br>
                                        &nbsp;<br>
                                        <br>
                                        Бъдете информирани с нашите новини, акценти и рецепти .<br>
                                        Запознайте се с предимствата и качествата на Българките млечни продукти , произведени в екологично чисти райони .<br>
                                        Научете полезни съвети за здравословно хранене и кулинарни изненади.</div>

                                </div>
                                <div class="span9 offset1 home_news">
                                    <div class="news_header">Актуално</div>
                                    Последни 4 новини 
                                    <a class="span3" h{#ref="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE-%D0%B8-%D0%BA%D1%80%D0%B5%D0%BC%D0%B0-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5-%D1%80%D1%83%D0%BF%D0%B8%D1%82%D0%B5-%D0%B2-%D1%82%D1%8A%D1%80%D0%B3%D0%BE%D0%B2%D1%81%D0%BA%D0%B0-%D0%B2%D0%B5%D1%80%D0%B8%D0%B3%D0%B0-penny-market">
                                        <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/n_16355e42fc795ea56a8d69197cbf22f5_66999e7c6902c59cbeb4aedf5.png">
                                        <div class="spacer10"></div>
                                        <div class="news_home_title">Крема сирене "Рупите"</div>
                                        <div class="news_home_created">21 Юли 2015</div>
                                    </a>
                                    <a class="span3" href="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE-%D0%BC%D0%BB%D1%8F%D0%BA%D0%BE-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE">
                                        <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/n_88f764c00e74ff8d774a9b1e1d44a8ca_e61ad0cd373d44caf253e9129.png">
                                        <div class="spacer10"></div>
                                        <div class="news_home_title">Краве кисело мляко "Киселово"</div>
                                        <div class="news_home_created">10 Април 2015</div>
                                    </a>
                                    <a class="span3" href="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%BC%D0%B0%D0%BD%D0%B4%D1%80%D0%B0-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE">
                                        <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/n_a92de5b18ef8b8d04ec2b8ed0bf7c152_f0d65adc0c6d4d14ffbe7ac1d.png">
                                        <div class="spacer10"></div>
                                        <div class="news_home_title">Краве масло мандра Киселово</div>
                                        <div class="news_home_created">10 Април 2015</div>
                                    </a>
                                    <a class="span3" href="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE">
                                        <img src="%D0%9D%D0%B0%D1%87%D0%B0%D0%BB%D0%BE_files/n_3be91773d644aeb0dfe144a50d4f44f1_b3ab2df46147400b0c0cebe1a.png">
                                        <div class="spacer10"></div>
                                        <div class="news_home_title">Краве сирене "Киселово"</div>
                                        <div class="news_home_created">10 Април 2015</div>
                                    </a>#}
                                    <div class="spacer30"></div>
{#                                    <a href="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE" class="more uppecase">виж повече</a>#}
                                    <div class="spacer30"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>						

                <div id="bottom_content_container">
                    <div class="normal_content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span3">
                                    <ul>

                                        <li>
                                            <a class="bottom_label" href="http://hraninvest.bg/bg">
                                                Начало
                                            </a>
                                        </li>	

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%BC%D0%B0%D0%BD%D0%B4%D1%80%D0%B0-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE%D0%B2%D0%BE-1.html">
                                                Мандра Киселово
                                            </a>
                                        </li>	

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81-1.html">
                                                За нас
                                            </a>
                                        </li>	

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%B0%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D0%BD%D0%BE">
                                                Новини
                                            </a>
                                        </li>	
                                    </ul>
                                </div>	
                                <div class="span3">
                                    <ul>
                                        <li>
                                            <a class="bottom_label" href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8">Продукти</a>
                                        </li>
                                        Листване на последните 5 продукта
                                        {#<li>
                                            <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D0%BC%D0%B0%D1%81%D0%BB%D0%BE-%D0%B8-%D0%BC%D0%B0%D1%80%D0%B3%D0%B0%D1%80%D0%B8%D0%BD">Краве масло и маргарин</a>
                                        </li>

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B0%D0%B2%D0%B5-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5">Краве сирене</a>
                                        </li>

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D1%80%D0%B5%D0%BC%D0%B0-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B5">Крема сирене</a>
                                        </li>

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D1%82%D0%BE%D0%BF%D0%B5%D0%BD%D0%B8-%D1%81%D0%B8%D1%80%D0%B5%D0%BD%D0%B0">Топени сирена</a>
                                        </li>

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BA%D0%B0%D1%88%D0%BA%D0%B0%D0%B2%D0%B0%D0%BB">Кашкавал</a>
                                        </li>

                                        <li>
                                            <a href="http://hraninvest.bg/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8/%D0%BF%D1%80%D1%8F%D1%81%D0%BD%D0%BE-%D0%B8-%D0%BA%D0%B8%D1%81%D0%B5%D0%BB%D0%BE-%D0%BC%D0%BB%D1%8F%D0%BA%D0%BE">Прясно и кисело мляко</a>
                                        </li>#}
                                    </ul>
                                </div>	
                                <div class="span3">
                                    <strong>КОНТАКТИ</strong><br>
                                    {#с. Кичево<br>
                                    Стопански двор 1<br>
                                    тел.: 052 673 021<br>
                                    имейл: office@hraninvest.bg#}
                                    
                                    ИНФОРМАЦИЯ ЗА КОНТАКТИ
                                    <br>
                                    <br>
                                    <span st_processed="yes" class="st_facebook_vcount" displaytext="Facebook"><span class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"><div><div style="display: block;" class="stBubble"><div class="stBubble_count">81</div></div><span style="background-image: url(&quot;http://w.sharethis.com/images/facebook_counter.png&quot;);" class="stMainServices st-facebook-counter">&nbsp;</span></div></span></span>
                                    <span st_processed="yes" class="st_twitter_vcount" displaytext="Tweet"><span class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"><div><div style="display: block;" class="stBubble"><div class="stBubble_count">1</div></div><span style="background-image: url(&quot;http://w.sharethis.com/images/twitter_counter.png&quot;);" class="stMainServices st-twitter-counter">&nbsp;</span></div></span></span>
                                    <span st_processed="yes" class="st_linkedin_vcount" displaytext="LinkedIn"><span class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"><div><div style="display: block;" class="stBubble"><div class="stBubble_count">0</div></div><span style="background-image: url(&quot;http://w.sharethis.com/images/linkedin_counter.png&quot;);" class="stMainServices st-linkedin-counter">&nbsp;</span></div></span></span>
                                    <span st_processed="yes" class="st_pinterest_vcount" displaytext="Pinterest"><span class="stButton" style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;"><div><div style="display: block;" class="stBubble"><div class="stBubble_count">0</div></div><span style="background-image: url(&quot;http://w.sharethis.com/images/pinterest_counter.png&quot;);" class="stMainServices st-pinterest-counter">&nbsp;</span></div></span></span>
                                </div>
                                <div class="span3">

                                </div>	
                            </div>	

                        </div>					</div>
                </div>

                <div id="design_container">
                    <div class="normal_content">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    
                                </div>	
                                <div class="span6 align_right">
                                    {#Уеб дизайн <a href="http://intersoft.bg/" target="_blank">Интерсофт ООД</a>#}
                                </div>	
                            </div>	
                        </div>	
                    </div>
                </div>

            </div> <!-- container -->


        {% endblock %}
        {% block javascripts %}
            {% javascripts 
                '@AppBundle/Resources/public/backend/plugins/jQuery/jQuery-2.1.4.min.js'
                '@AppBundle/Resources/public/plugins/flexslider/jquery.flexslider-min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}




            <script>
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide"
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
