{% block categoryWidget %}
    <div id="templatemo_upcomming_event" class="container_wapper">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                    <a href="{{ path('products_category', {'category': category.getSlug}) }}">
                        <div class="col-sm-6 col-md-4">
                            <div class="event_box event_animate_left">
                                <img src="{% path category.image, 'xlarge' %}" class="img-responsive" />
                                <h2 class="text-center">
                                    {{ category.getName }}
                                </h2>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                
            </div>
        </div>
    </div>

{% endblock %}