{% block navbarWidget %}
    <div id="templatemo_main_menu" class="container_wapper hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-justified">
                        <li><a href="{{ path('homepage')}}">{{ 'frontend.menu.home'|trans }}</a></li>
                        <li><a href="{{ path('about_us')}}">{{ 'frontend.menu.aboutus'|trans }}</a></li>
                        <li><a href="{{ path('products') }}">{{ 'frontend.menu.products'|trans }}</a></li>
                        <li><a href="{{ path('news')}}">{{ 'frontend.menu.news'|trans }}</a></li>
                        <li><a href="{{ path('partners')}}">{{ 'frontend.menu.partners'|trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ 'frontend.menu.contacts'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}