{% block sliderWidget %}
    <div class="banner" id="templatemo_banner_slide">
        <ul>
            {# <li class="" style="background: url('http://lorempixel.com/1900/610/food/1');
                 background-size: cover;">
                 <div class="slide_caption">
 
                     <h1>HTML5 CSS3 Template</h1>
                     <p>Aenean diam libero, venenatis eu risus eu, tincidunt porttitor orci. Nulla consequat mi et lectus vehicula condimentum. Nulla ullamcorper dolor vehicula dolor interdum, eget fermentum ligula bibendum. Lorem iscup agur condimentum rhoncus. Alam so ur velit. Pellentesque luctus ac nunc er hendrerit.</p>
                 </div>
             </li>#}
            {% for item in sliders %}
                <li class="" style="background: url('{% path item.image, 'xlarge' %}');
                    background-size: cover;">

                    <div class="slide_caption">

                        <h1>{{ item.getTitle }}</h1>
                        <div class="slide_caption_description">{{ item.translate(currentLocale).getDescription |truncate(300)|raw }}</div>
{#                        <p></p>#}
                    </div>

                </li> 
            {% endfor %}

            {#<li class="" style="background: url('http://lorempixel.com/1900/610/food/2');
                     background-size: cover;">

                <div class="slide_caption">
                    <h1>Mobile Ready Website</h1>
                    <p>Dragonfruit is one of free HTML5 <a rel="nofollow" href="http://www.templatemo.com">website templates</a> from templatemo. Donec quam neque, porta at pellentesque at, imperdiet ut velit. Pellentesque luctus ac nunc et hendrerit. Aliquam eu scelerisque eros. Vestibulum scelerisque mi nec augue condimentum rhoncus.</p>
                </div>
            </li>
            <li class="" style="background: url('http://lorempixel.com/1900/610/food/3');
                     background-size: cover;">

                <div class="slide_caption">
                    <h1>Freebie</h1>
                    <p>Cras fermentum convallis elementum. Praesent sit amet auctor erat, vitae auctor dolor. Sed viverra nunc magna, quis placerat augue pellentesque quis. Sed nec pellentesque dolor. Aenean in lectus enim. Phasellus eu egestas libero. Vivamus ultrices ligula a dapibus lobortis.</p>
                </div>
            </li>#}
        </ul>
    </div>  
{% endblock %}
