{% extends 'base_new.html.twig' %}

{% block body %}
    {{ parent() }}

    <div id="templatemo_upcomming_event" class="container_wapper">
        <div class="container">
            <div class="row">
                {#
                <div class="col-md-6 col-md-offset-3 col-md-offset-3">
                    <p>Reactive is <a href="#">free HTML5 template</a> based on Bootstrap responsive framework. This template features <a rel="nofollow" href="http://www.pixedelic.com/plugins/camera/">Camera Slideshow</a> for the image slider. Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for photos used in this template. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>#}
                {#                <div class="clearfix"></div>#}
                {% for category in categories %}

                {#{% set slug =  category.getSlug %}#}

                        <a href="{{ path('products_category', {'category': category.getSlug}) }}">
                    {#{% endif %}#}

                    <div class="col-sm-6 col-md-4">
                        <div class="event_box event_animate_left">
                            <img src="{% path category.image, 'xlarge' %}" class="img-responsive" />
                            <h2 class="text-center">
                                {{ category.getName }}
                                {#{{ slug }}#}
                            </h2>
                            {#<ul>
                                <li>
                                    <span class="glyphicon glyphicon-calendar"></span>Wednesday<br />
                                    <span class="glyphicon">&nbsp;</span>3<sup>rd</sup> September 2084<br />
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-time"></span>Time<br />
                                    <span class="glyphicon">&nbsp;</span>9:00 AM to 5:00 PM<br />
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-map-marker"></span>Venue X<br />
                                    <span class="glyphicon">&nbsp;</span>Lifestyle Mall<br />  
                                    <span class="glyphicon">&nbsp;</span>Yangon, Myanmar<br />
                                </li>
                            </ul>#}
                        </div>
                    </div>
                    </a>
                {% endfor %}
                
                <div class="templatemo_clear">
                    <div class="col-xs-6 event_animate_left" id="prev_event_btn">
                        <p>
                            {#                                <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>#}
                        </p>
                    </div>
                    <div class="col-xs-6 event_animate_right" id="next_event_btn">
                        <p>
                            {#                                <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>#}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
