{% extends 'base_new.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container_wapper" id="templatemo_pricing">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section_header">
                    <h1>{{ category.getName }}</h1>
                </div>
                <div class="clearfix"></div>
                {% for product in products %}
                    {#{% if app.request.getLocale() == 'bg' %}#}

                        {#{% set limit = 500 %}#}
                    {#{% else %}#}
                        {#{% set limit = 500 %}#}
                    {#{% endif %}#}
                <div class="col-md-4">
                    <div class="price_table_box">
                        <h2>{{ product.getTitle }}</h2>
                        <div class="description glyphicon ">
                            <img src="{% path product.image, 'thumb' %}" />
                            {{ product.getDescription |truncate(450) | raw }}
                        </div>
                        {#<ul>#}
                            {#<li><span class="glyphicon glyphicon-pencil"></span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</li>#}
                            {#<li><span class="glyphicon glyphicon-download-alt"></span> Excepteur sint occaecat  non proident, sunt in.</li>#}
                            {#<li><span class="glyphicon glyphicon-folder-close"></span> Duis aute irure dolor in reprehenderit in cupidatat voluptate.</li>#}
                        {#</ul>#}
                        <div class="button-link-div">
                            <p class="button-link">
                                <a href="{{ path('products_show', {'category': product.category.getSlug, 'slug': product.getSlug}) }}">
                                    <span class="glyphicon glyphicon-book"></span>
                                    Виж
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>




    {#<div id="templatemo_blog" class="container_wapper">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-xs-12 section_header">#}
                    {#<h1></h1>#}
                {#</div>#}
                {#<div class="clearfix"></div>#}

                {#{% for product in products %}#}

                    {#<div class="col-sm-4 event_animate_left">#}
                        {#<img src="{% path product.image, 'medium' %}"  class="img-responsive" />#}
                    {#</div>#}
                    {#<div class="col-sm-8 blog_text event_animate_right">#}
                        {#<h1>{{ product.getTitle}}</h1>#}
                        {#<p>#}
                            {#&#123;&#35;<span class="glyphicon glyphicon-user"></span> posted by <a href="#">Kelly</a>  &nbsp;&nbsp;&#35;&#125;#}
                            {#&#123;&#35;<span class="glyphicon glyphicon-calendar"></span> 5<sup>th</sup> September 2084 &nbsp;&nbsp;&#35;&#125;#}
                            {#&#123;&#35;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">Responsive</a>&#35;&#125;#}
                        {#</p>#}
                        {#<div>#}
                            {#{{ product.getDescription |raw }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="clearfix"></div>#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
