<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin Panel!{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets 
                'bundles/app/backend/css/bootstrap.min.css'
                'bundles/app/backend/css/main.css'
                'bundles/app/backend/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css'
                'bundles/app/backend/plugins/jQueryUI/jquery-ui-themes-1.11.4/themes/smoothness/jquery-ui.min.css'
                'bundles/app/backend/plugins/jQueryUI/jquery-ui-themes-1.11.4/themes/smoothness/theme.css'

                filter='cssrewrite' %}


            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}
            {% javascripts 
                '@AppBundle/Resources/public/backend/plugins/jQuery/jQuery-2.1.4.min.js'
                '@AppBundle/Resources/public/backend/plugins/jQueryUI/jquery-ui.min.js'
                '@AppBundle/Resources/public/backend/js/bootstrap.min.js'
                '@AppBundle/Resources/public/backend/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
                '@AppBundle/Resources/public/backend/js/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
            {{ widget('navbar', ['chavdar', 'dimitrov']) }}

            <div class="container-fluid">
                <div class="row">

                    {{ widget('sidebar') }}

                    {% block body_container %}
                    {% endblock body_container %}

                </div>
            </div>
        {% endblock %}

</body>
</html>
