/*  Free Template by www.templatemo.com  */

/* 
Reactive Template 
http://www.templatemo.com/preview/templatemo_404_reactive 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}
.templatemo_clear { 
    clear: both; 
}
.container_wapper {
    width: 100%;
    background: #c0c0c0;
    border-bottom: 1px solid #fff;
}
.section_header  {
    height: 150px;
    background: url("../images/section-header.png") center center no-repeat;
}
.section_header  h1 {
    margin-top: 50px;
    text-align: center;
}
/* templatemo_mobile_menu_wap */
#templatemo_mobile_menu_wap {
    width: 50px;
    height: 44px;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: #35abd9;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn {
    padding-top: 10px;
    font-size: 20px;
    text-align: right;
    width: 100%;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn span {
    color: #fff;
}
#templatemo_mobile_menu_wap #mobile_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background:#e7eaef;
    margin-top: 0;
    border-radius: 4px;
    height: 100%;
    overflow: auto;
}
#templatemo_mobile_menu_wap .nav-stacked li a {
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li:hover a {
    background-color: #67cbf2;
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li a.focus {
    background-color: transparent;
}
/* templatemo_banner_top */


#templatemo_banner_top {
    background: #35abd9;
    height: auto;
}
#templatemo_banner_top p ,
#templatemo_banner_top a {
    font-size: 14px;
    line-height: 45px;
    color: #fff;
}
#templatemo_banner_top p.right {
    text-align: left;
}
/* templatemo_banner_logo */
#templatemo_banner_logo {
    background-color: #ffffff;
    background-image: url("../images/banner_logo_bg.jpg");
    height: 135px;
}
#templatemo_banner_logo img {
    float: left;
}
#templatemo_banner_logo h1 a {
    float: left;
    font-size: 52px;
    color: #35abd9;
    text-align: left;
}
#templatemo_banner_logo h1 a:hover {
    text-decoration: none;
}
#templatemo_banner_logo span {
    clear: left;
    font-size: 16px;
    line-height: 14px;
    color: #000000;
    text-align: left;
    margin-left: 6px;
}
/* templatemo_banner_slide */
.banner { 
    width: 100%;
    height: 500px;
    position: relative; 
    overflow: hidden;
}
.banner ul { 
    list-style: none; 
    padding: 0;
}
.banner ul li { 
    float: left; 
    background-size:50px 50px;
    height:500px;
    width: 100%;
}
.banner div.slide_caption {
    max-width: 600px;
    margin: 120px auto auto 10%;
}
.banner div.slide_caption h1 ,
.banner div.slide_caption .slide_caption_description {
    background: rgba(255,255,255,.75) ;
    text-align: left;
    color: #000;
    line-height: 2em;
    float: left;
    padding: 10px;
}
.banner div.slide_caption a {
    color: #000;
}
.banner div.slide_caption h1 {
    font-size: 32px;
    margin: 0;
}
.banner div.slide_caption .slide_caption_description {
    font-size: 16px;
    margin: 10px 0 0 0 ;
}
.templatemo_banner_slide_01 {
    background: url('../images/banner_slide_01.jpg');
    background-size: cover;
}
.templatemo_banner_slide_02 {
    background: url('../images/banner_slide_02.jpg');
    background-size: cover;
}
.templatemo_banner_slide_03 {
    background: url('../images/banner_slide_03.jpg');
    background-size: cover;
}
/* templatemo_main_menu */
#templatemo_main_menu {
    background: #e7eaef;
    border-bottom: 1px solid #d7dadd;
    z-index: 1500;
}
#templatemo_main_menu .nav-justified li {
    height: 105px;
}
#templatemo_main_menu .nav-justified li a {
    height: 105px;
    font-size: 24px;
    line-height: 75px;
    color: #000;
    margin-right:15px;
    margin-left:15px;
}
#templatemo_main_menu .nav-justified li a.current,
#templatemo_main_menu .nav-justified li a:hover {
    background: #35abd9 url("../images/menu_bg.jpg") center center;
    color: #fff;
}
/* templatemo_upcomming_event */
#templatemo_upcomming_event {
    margin-top: 40px;
    background: #ffffff;
    overflow: hidden;
}
#templatemo_upcomming_event h1 {
    color: #444444;
}
#templatemo_upcomming_event p {
    text-align: center;
}
#templatemo_upcomming_event .event_box {
    margin-top: 70px;
    min-height: 290px;
    background: #eeeeee;
    box-shadow: inset 0px 0px 0px 1px rgba(210, 210, 210, 1);    
    position: relative;
}
#templatemo_upcomming_event .event_box img { 
    padding-bottom: 10px;
}
#templatemo_upcomming_event .event_box ul {
    list-style: none;    
    padding: 25px 30px 15px 30px;    
    margin: 0;    
}
#templatemo_upcomming_event .event_box ul li {
    list-style: none;    
    padding: 10px 0 10px 0 ;    
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    border-top: 1px solid #e2e2e2;
}
#templatemo_upcomming_event .event_box ul li:first-child {
    border-top: 0px ;
}
#templatemo_upcomming_event .event_box ul li span{
    padding-right: 15px;    
    color: #35abd9;
}
#templatemo_upcomming_event #prev_event_btn ,
#templatemo_upcomming_event #next_event_btn {
    margin-top: 60px;
    margin-bottom: 60px;
}
#templatemo_upcomming_event #prev_event_btn a  ,
#templatemo_upcomming_event #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
	padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_upcomming_event #prev_event_btn a:hover ,
#templatemo_upcomming_event #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_upcomming_event #prev_event_btn a {
    float: right;
}
#templatemo_upcomming_event #next_event_btn a {
    float: left;
}
/* templatemo_pricing */
#templatemo_pricing {
    background: #3d444e;
    overflow: hidden;
}
#templatemo_pricing h1 {
    color: #ffffff;
}
#templatemo_pricing .pricing_icon_wapper {
    overflow: hidden;
}
#templatemo_pricing .pricing_icon_wapper p.cycle_icon {
}
#templatemo_pricing .pricing_icon_wapper p.cycle_icon span {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 75px;
    background: #e2e5ea;
    text-align: center;
    padding: 48px;
    font-size: 56px;
    color: #35abd9;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
#templatemo_pricing .pricing_icon_wapper h1 {
    text-align: center;
    font-size: 24px;
}
#templatemo_pricing .pricing_icon_wapper p {
    text-align: center;
    color: #fff;
}
#templatemo_pricing .price_table_box {
    background: #e7eaef;
    margin-top: 35px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    position: relative;
    min-height: 630px;
    max-height: 630px;
}
#templatemo_pricing .price_table_box div.description {
    padding: 20px 30px 25px 30px;
    min-height: 440px;

}
#templatemo_pricing h2 {
    color: #fff;
}
#templatemo_pricing .price_table_box h2 {
    background: #35a9d8;
    margin: 0;
    width: 100%;
    min-height: 90px;
    padding: 30px 0px;
    text-align: center;
    font-size: 24px;
}
#templatemo_pricing .price_table_box ul {
    margin: 0;
    padding: 0 30px 25px 70px;
    list-style: none;
}
#templatemo_pricing .price_table_box ul li {
    margin: 0;
    padding: 25px 0 0 0;
}
#templatemo_pricing .price_table_box ul li span {
    margin: 0 10px 0 -30px;
}
#templatemo_pricing .price_table_box div.button-link-div {
    text-align: center;
    width: 200px;
    margin: auto;
}
#templatemo_pricing .price_table_box div.button-link-div:hover {
    background: #CCE5F5;
}
#templatemo_pricing .price_table_box div.button-link-div p.button-link a {
    display: block;
    border: 2px solid #35a9d8;
    font-size: 32px;
    color: #35a9d8; 
    width: 100%;
    padding: 12px 0px;
    text-decoration: none;
}
/* templatemo_blog */
#templatemo_blog {
    background: #ffffff;
    padding-bottom: 60px;
    overflow: hidden;
}
#templatemo_blog img {
    margin-bottom: 30px;
}
#templatemo_blog h1 {
    font-size: 30px;
}
#templatemo_blog .blog_text {
    margin-bottom: 30px;
}
#templatemo_blog .blog_text h1 {
    padding: 0;
    margin: 0;
}
#templatemo_blog .blog_text p {
    padding: 18px 0 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}
/* templatemo_contact */
#templatemo_contact {
    background: #f2f2f2;
    padding-bottom: 30px;
}
#templatemo_contact p {
    text-align: center;
}
#templatemo_contact form p {
    text-align: left;
    padding-top: 45px;
}
#templatemo_contact form textarea,
#templatemo_contact form input[type=text] {
    width: 100%;
    border: 2px solid #dbdbdb;
    padding: 10px;
}
#templatemo_contact form input[type=text] {
    height: 50px;
}
#templatemo_contact form textarea {
    height: 180px;
}
#templatemo_contact form textarea:focus,
#templatemo_contact form input[type=text]:focus {
    border: 2px solid #c1c1c1;
}
#templatemo_contact form button {
    width: 100%;
    border: 2px solid #008fc9;
    font-size: 20px;
    padding: 30px;
    background: #35a9d8;
    margin-top: 45px;
    margin-bottom: 25px;
    color: #fff;
}
#templatemo_contact form button:hover {
    background: #008fc9;
}
#templatemo_contact #templatemo_contact_map_wapper {
    width: 100%;
    height: 245px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
#templatemo_contact #templatemo_contact_map {
    width: 100%;
    height: 245px;
    position: absolute;
    left: 0;
    background: #b3e9ff;
}
#templatemo_footer {
    background: #dbdbdb;
    padding: 30px 0px;
}
#templatemo_footer p {
    text-align: center;
    padding: 0;
    margin: 0;
}
#templatemo_footer a {
    text-decoration: underline;
    color: #333333;
}
/*  Extra small devices (phones, less than 768px)  */
@media (max-width: 768px ) { 
    #templatemo_banner_logo h1 {
        font-size: 46px;
        text-align: left;
    }
    #templatemo_banner_logo span {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
    }
    #templatemo_pricing .pricing_icon_wapper {
        margin-bottom: 50px;
    }
    #templatemo_contact form button {
        width: 100%;
        padding: 15px;
    }
}
/*  Small devices (tablets, 768px and up)  */
@media (min-width: 768px ) { 

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px ) {
    #templatemo_banner_top p.right {
        text-align: right;
    }
    #templatemo_banner_top {
        height: 45px;
    }
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}

