{% extends "backend/base.html.twig" %}
{% form_theme form with ['bootstrap_3_layout.html.twig', 'backend/form/media_widgets.html.twig']   %}

{% block body_container %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Партньори
        </h1>
        <div class="table-responsive">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}