{% extends "backend/base.html.twig" %}

{% block body_container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Слайдери 
            <span style="float:right">
                {#                <a href="#" class="btn btn-info">Пренареждане</a>#}
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
                    Пренареждане
                </button>
            </span>
        </h1>
        <div class="table-responsive">
            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th class="col-md-9">Име</th>
                        <th class="com-md-2 text-right"><a href="{{ path('admin_slider_new') }}" class="btn btn-success">Добави</a> Настройки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slider in sliders %} 
                        <tr>
                            <td style="font-weight: bold">{{ slider.translate(locale).getTitle }}</td>
                            <td class="text-right">
                                <a href="{{ path('admin_slider_edit', {'id': slider.id}) }}" class="btn btn-sm btn-warning">Редактирай</a>
                                <a href="{{ path('admin_slider_delete', {'id': slider.id}) }}" class="btn btn-sm btn-danger">Изтрий</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Пренареждане на слайдър</h4>
                    </div>
                    <div class="modal-body">

                        <ul id="sortable-slider" class="sortableRows">
                            {% for sortableItem in slidersSortable %}
                                <li class="ui-state-default sortableRow" data-item_id="{{ sortableItem.id }}" >{{ sortableItem.translate(locale).getTitle }}</li>
                                {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                        <button type="button" class="btn btn-primary" id="slider-modal-sortable-save" >Запази промените</button>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <script>
        $(document).ready(function () {
            $("#slider-modal-sortable-save").click(function (event) {
                // Stop form from submitting normally
                event.preventDefault();
                var order = "";
                $("#sortable-slider li").each(function (i) {
                    if (order == '')
                        order = $(this).attr('data-item_id');
                    else
                        order += "," + $(this).attr('data-item_id');
                });

                $.post('{{ path('admin_slider_ajax') }}', {order: order})
                        .success(function (data) {
                            $('#myModal').modal('hide');
                            console.log(data);
                        })
                        .error(function (data) {
                            alert('Error: ' + data);
                        });
            });
        });
    </script>




{% endblock %}
