{% extends "backend/base.html.twig" %}

{% block body_container %}

    {% form_theme form 'backend/form/media_widgets.html.twig' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Слайдери
        </h1>
        <div class="table-responsive">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{#                        {{ form_widget(form) }}#}
            

           <div id="testttt">
                {{ form_label(form.translations) }}
                {{ form_errors(form.translations) }}
                {{ form_widget(form.translations) }}
            </div>

            <div style="margin-top: 10px">
                {{ form_label(form.isActive) }}
                {{ form_errors(form.isActive) }}
                {{ form_widget(form.isActive) }}
            </div>
            
             <div style="margin-top: 10px">
                {{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image) }}
            </div>

            {{ form_end(form) }}

        </div>
    </div>



{% endblock %}