{% extends 'backend/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

{% endblock %}    
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />#}

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

{#        <button type="submit">login</button>

    </form>#}



    <div class="container">

        <form class="form-signin" action="{{ path('login_check') }}" method="POST">
            <h2 class="form-signin-heading">вход</h2>
            <label for="username" class="sr-only">Потребител</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="Потребител" />
{#            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Парола" required>
            <div class="checkbox">
                {#<label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>#}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">влез</button>
        </form>

    </div> <!-- /container -->   
{% endblock %}
