{% extends "backend/base.html.twig" %}

{% block body_container %}


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Новини
        </h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-9">Име</th>
                        <th class="com-md-2 text-right"><a href="{{ path('admin_news_new') }}" class="btn btn-success">Добави</a> Настройки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for new in news %} 
                        <tr>
                            <td>{{ new.translate(locale).getTitle }}</td>
                            <td class="text-right">
                                <a href="{{ path('admin_news_edit', {'id': new.id}) }}" class="btn btn-sm btn-warning">Редактирай</a>
                                <a href="{{ path('admin_news_delete', {'id': new.id}) }}" class="btn btn-sm btn-danger">Изтрий</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}





