{% extends "backend/base.html.twig" %}
{% form_theme form with ['bootstrap_3_layout.html.twig', 'backend/form/media_widgets.html.twig']   %}
{% block body_container %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Продукти
        </h1>
        <div class="table-responsive">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {% import "A2lixTranslationFormBundle::macros.html.twig" as a2lixTranslations %}
            {{ a2lixTranslations.partialTranslations(form.translations, ['title']) }}
            {{ form_row(form.category) }}
            {{ a2lixTranslations.partialTranslations(form.translations, ['description']) }}
            {#            {{ form_widget(form) }}#}

            <div class="span3" style="margin-top: 20px">
                {#{{ form_label(form.image) }}
                {{ form_errors(form.image) }}
                {{ form_widget(form.image) }}#}
                {{ form_row(form.image) }}
            </div>

            <div class="span3 form-group" style="margin-top: 20px">
                {{ form_row(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}