<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('admin_homepage')}}"> Табло <span class="sr-only">(current)</span></a>
        </li>
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_category' %} class="active"{% endif %}>
            <a href="{{ path('admin_category') }}">Категории</a>
        </li>
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_product' %} class="active"{% endif %}>
            <a href="{{ path('admin_product') }}">Продукти</a>
        </li>
        
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_about' %} class="active"{% endif %}>
            <a href="{{ path('admin_about_edit', {'id': '1'} ) }}">За нас</a>
        </li>
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_partner' %} class="active"{% endif %}>
            <a href="{{ path('admin_partner_edit', {'id': '1'} ) }}">Партньори</a>
        </li>
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_news' %} class="active"{% endif %}>
            <a href="{{ path('admin_news') }}">Новини</a>
        </li>
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_slide' %} class="active"{% endif %}>
            <a href="{{ path('admin_slider') }}">Слайдър</a>
        </li>
        <li {% if app.request.attributes.get( '_route' ) starts with 'admin_contactc' %} class="active"{% endif %}>
            <a href="{{ path('admin_contact') }}">Контакти</a>
        </li>
    </ul>
</div>