{% extends 'base_new.html.twig' %}

{% block body %}
    {{ parent() }}
    
    
    <div id="templatemo_contact" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section_header">
                    <h1>Contact</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-md-offset-3">
                    <p>Feel free to send us a message regarding this website template. Pellentesque pulvinar, orci vel scelerisque suscipit, libero justo laoreet felis, ac consectetur est nisi quis ligula. Maecenas nec felis elit.</p>
                </div>
                <div id="templatemo_contact_map_wapper">
                    <div id="templatemo_contact_map"></div>
                </div>
                <form action="#" method="post">
                    <div class="col-md-4">
                        <p>Your Name</p>
                        <input type="text" name="name" id="name" placeholder="Full Name" />
                    </div>
                    <div class="col-md-4">
                        <p>Your Email</p>
                        <input type="text" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="col-md-4">
                        <p>Subject</p>
                        <input type="text" name="subject" id="subject" placeholder="Subject" />
                    </div>
                    <div class="col-xs-12">
                        <p>Message</p>
                        <textarea name="message" id="message" placeholder="Your message..." ></textarea>
                    </div>
                    <div class="col-md-4 col-xs-8">
                        <button>Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
