{% extends 'base_new.html.twig' %}

{% block body %}
    {{ parent() }}
    


    <div id="templatemo_blog" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section_header">
                    <h1>За нас</h1>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-4 event_animate_left">
                    <img src="{% path about.image, 'medium' %}" class="img-responsive" />
                </div>
                <div class="col-sm-8 blog_text event_animate_right">
                    
                    <div>
                        {{ about.getDescription |raw}}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
